// ----------------Text----------------
// text-size
$text-xs: 13px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

// font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;

// text-color
$text-c1-dark: #000;
$text-c2-dark: rgb(34, 34, 34);
$text-c1-light: #fff;
$text-gray-500: #6b7280;
$text-gray-600: #4b5563;
$text-c1-gray: rgb(113, 113, 113);

// boder color
$bd-gray: #e3e3e3;

// background color
$bg-primary: #e61d51;
$bg-c1-light: #fff;
$bg-btn-hover: #f7f7f7;
$bg-gray-50: #f9fafb;

// box-shadow
$bs-input-search: 0px 4px 4px rgba(0, 0, 0, 0.08);
$bs-user-menu: 0px 4px 9px rgba(0, 0, 0, 0.12);

// ----------------Background----------------

// ----------------Breakpoint----------------
// X-Small devices (portrait phones, less than 576px)
$xs-max: 575.98px;
$xs-min: 576px;
// Small devices (landscape phones, less than 768px)
$sm-min: 768px;
$sm-max: 767.98px;
// Medium devices (tablets, less than 992px)
$md-min: 992px;
$md-max: 991.98px;
// Large devices (desktops, less than 1200px)
$lg-min: 1200px;
$lg-max: 1199.98px;
// X-Large devices (large desktops, less than 1400px)
$xl-min: 1400px;
$xl-max: 1399.98px;

// ----------------Mixin----------------
@mixin text($fs: $text-base, $fw: $text-regular, $fc: $text-c1-dark, $lh: 1.2) {
  font-size: $fs;
  font-weight: $fw;
  color: $fc;
  line-height: $lh;
}

// X-Small devices (portrait phones, less than 576px)
@mixin res-xs {
  @media (max-width: #{$xs-max}) {
    @content;
  }
}

// Small devices (landscape phones, less than 768px)
@mixin res-sm {
  @media (min-width: #{$xs-min}) and (max-width: #{$sm-max}) {
    @content;
  }
}

// Medium devices (tablets, less than 992px)
@mixin res-md {
  @media (min-width: #{$sm-min}) and (max-width: #{$md-max}) {
    @content;
  }
}

// Large devices (desktops, less than 1200px)
@mixin res-lg {
  @media (min-width: #{$md-min}) and (max-width: #{$lg-max}) {
    @content;
  }
}

// X-Large devices (large desktops, less than 1400px)
@mixin res-xl {
  @media (min-width: #{$lg-min}) and (max-width: #{$xl-max}) {
    @content;
  }
}

@mixin res-between($minWidth, $maxWidth) {
  @media (min-width: #{$minWidth}) and (max-width: #{$maxWidth}) {
    @content;
  }
}

@mixin res-up($minWidth) {
  @media (min-width: #{$minWidth}) {
    @content;
  }
}

@mixin res-down($maxWidth) {
  @media (max-width: #{$maxWidth}) {
    @content;
  }
}

@mixin btnStyle($w, $h, $bgc, $bd: 1px solid transparent) {
  width: $w;
  height: $h;
  background-color: $bgc;
  border: $bd;
}
