// ----------------Text----------------
// text-size
$text-xs: 13px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

// font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;

// text-color

// ----------------Background----------------


// ----------------Breakpoint----------------
//Iphone 6/7/8
$sm: 667px;
//Iphone 6+/7+/8+
$md: 736px;
//Ipad 
$lg: 1024px;
//Desktop
$xl: 1200px;
//Higher desktop
$xxl: 1400px;

// ----------------Mixin----------------
@mixin text($fs: $text-base, $fw: $text-regular, $fc: $text-c1-dark) {
    font-size: $fs;
    font-weight: $fw;
    color: $fc;
  }
  
  @mixin res-sm {
    @media (max-width: #{$sm}) {
      @content;
    }
  }
  
  @mixin res-md {
    @media (max-width: #{$md}) {
      @content;
    }
  }
  
  @mixin res-lg {
    @media (max-width: #{$lg}) {
      @content;
    }
  }
  
  @mixin res-xl {
    @media (max-width: #{$xl}) {
      @content;
    }
  }
  
  @mixin res-xxl {
    @media (max-width: #{$xxl}) {
      @content;
    }
  }
  
  @mixin btnStyle ($w, $h, $bgc, $bd: 1px solid transparent) {
    width: $w;
    height: $h;
    background-color: $bgc;
    border: $bd;
  }