.banner {
  background: url("../../img/banner.png");
  width: 100%;
  min-height: 700px;
  background-size: cover;
  background-position: center;

  @include res-xs {
    min-height: 350px;
  }

  @include res-sm {
    min-height: 400px;
  }

  @include res-md {
    min-height: 500px;
  }
}
