.carousel {
  margin: 3rem 0;

  .carousel__content {
    @include res-xs {
      margin-top: 0;
    }

    @include res-up($sm-min) {
      margin-top: 1.2em;
    }

    .carousel__item {
      @include res-down($sm-max) {
        margin-top: 1em;
      }
    }
  }
}
