.header {
  .container {
    // left section
    .header__logo {
      img {
        width: 109px;
      }
    }
    // left section

    // middle section
    .header__search-bar {
      .search-bar {
        overflow: hidden;
        width: 300px;
        height: 47px;
        border: 1px solid $bd-gray;
        border-radius: 46px;
        @include text($text-base, $text-semibold, $text-c1-dark);
        box-shadow: $bs-input-search;
        padding-right: 0.3em;

        input {
          padding: 10px 7px 10px 15px;
          border: 1px solid transparent;
          width: 80%;

          &:focus {
            outline: none;
          }
        }

        .btnSearch {
          @include btnStyle(40px, 40px, $bg-primary);
          border-radius: 50%;
          @include text($text-xs, $text-regular, $text-c1-light);
        }
      }
    }
    // middle section

    // right section
    .header__right {
      .btnLanguage {
        padding: 0.7em;
      }

      .user {
        position: relative;
        display: inline-block;

        .btnUser {
          border: 1px solid $bd-gray;
          padding: 0 0 0 0.7em;

          i:nth-child(1) {
            margin-right: 0.7em;
          }

          i:nth-child(2) {
            background-color: #666f7a;
            width: 30px;
            height: 30px;
            font-size: 1.6rem;
            border-radius: 50%;
          }

          .notification {
            position: relative;
            right: 10px;
            top: -15px;
            background-color: $bg-primary;
            width: 17px;
            height: 17px;
            font-size: 0.6rem;
            color: $text-c1-light;
            border-radius: 50%;
            padding: 0.3em;
            border: 1px solid #fff;
          }
        }

        .dropdown__content {
          display: none;
          overflow: hidden;
          position: absolute;
          z-index: 1;
          right: 0;
          @include text();
          box-shadow: $bs-user-menu;
          border-radius: 10px;
          min-width: 240px;
          background-color: $bg-c1-light;

          .dropdown__item {
            padding: 0.6em 1.3em;
            display: block;

            &:hover {
              background-color: $bg-btn-hover;
            }
          }

          hr {
            margin: 0;
          }
        }
      }
    }
    // right section
  }
}
