.room__heading {
  .room-title {
    margin-bottom: 0.3em;

    @include res-down($sm-max) {
      font-size: 1.6rem;
    }
  }

  .room__heading--details {
    @include text(0.93rem, $text-semibold);

    .details__left {
      i {
        margin-right: 0.5em;
      }

      .host-badge {
        span {
          font-weight: $text-regular;
          color: $text-gray-500;
        }
      }
    }

    .details__right {
      button {
        @include text(0.93rem);
      }
    }
  }

  @include res-down($sm-max) {
    padding: 0.9em 0;
  }
}

.room__heading--md {
  @include res-down($sm-max) {
    display: none;
  }
}
