@import './../utilities/variable';


.room-detail{
    .container{
        .infor-detail{
            .tilte{
                @include text($text-3xl, $text-medium, $text-c1-dark, $line-height-c1);
            }
            .header{
                margin-bottom: 30px;
                .infor-header{
                    .left-details{
                        @include text($text-small, $text-medium, $text-c1-dark, $line-height-c2);
                       .infor{
                            .star{
                                i{
                                    color: $text-c1-red;
                                }
                            }
                            .review{

                            }
                            .prize{
                                i{
                                    color: $text-c1-red;
                                }
                            }
                            .address{

                            }
                       } 
                    }
                    .right-detail{
                        @include text($text-small, $text-medium, $text-c1-dark, $line-height-c2);
                    }
                }

            }
            .image-grid{
                // border: 1px solid black;
                border-radius: 20px;
                overflow: hidden;
                .row{
                    height: 416px;
                    .left-grid{
                        // padding-right: 5px !important;
                        img{
                            height: 100%;
                            object-fit: center;
                        }
                    }
                    .right-grid{
                        .row{
                            .col-6{
                                padding-bottom: 0 !important;
                                // height: 50%;
                                // padding-right: 0 !important;
                                // margin-bottom: 15px;
                                img{
                                    // height: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .content{
                
                .row{
                    height: 600px;
                    .left-content{
                        border: 1px solid black;
                        height: 100%;
                        .left-header{
                            .title-header{
                                h4{
                                    @include text(24px, $text-medium, $text-c1-dark,$line-height-c3);
                                }
                                ul{
                                    li{
                                        @include text($text-small, $text-regular, $text-c1-dark,$line-height-c2);
                                    }
                                }
                            }
                        }
                        .left-detail{
                            .infor-detail{
                                li{
                                    .icon{
                                        margin-top: 2px;
                                        margin-right: 10px;
                                        font-size: 20px;
                                    }
                                    .description{
                                        h6{
                                            
                                        }
                                        p{
                                            line-height: 20px
                                        }
                                    }

                                }
                            }
                        }
                    }
                    .right-content{
                        border: 1px solid red;
                        height: 100%;
                    }
                }
            }
        }
    }
}