.locations {
  padding: 48px 0;

  .title {
    @include text($text-3xl, $text-bold);
    margin-bottom: 7px;

    @include res-md {
      @include text(28px, $text-semibold);
    }
  }

  .locations__content {
    .location__item {
      margin-top: 12px;
    }
  }

  @include res-md {
    padding: 28px 30px;
  }

  @include res-lg {
    padding: 28px 40px;
  }

  @include res-xxl {
    padding: 28px 68px;
  }
}

// >1200
