@import "./../utilities/variable";

.container {
  .content {
    .row {
      .left-content {
        .room-list {
          .card {
            .row {
              .left-card {
                img{

                }
              }
              .right-card {
                .card {
                  position: relative;
                  left: 0;
                  top: 0;
                  .card-header {
                    background: $bg-c1-light;
                    .intro {
                      @include text(
                        0.875rem,
                        $text-regular,
                        $text-gray-600,
                        10px
                      );
                      @include res-sm{
                        margin-top: 10px;
                      }
                    }
                    .name-room {
                      @include text(
                        $text-2xl,
                        $text-medium,
                        $text-c1-dark,
                        10px
                      );
                    }
                    .icon {
                      position: absolute;
                      right: 15px;
                      top: 10px;
                      font-size: 25px;
                    }
                  }
                  .card-body {
                    line-height: 20px;
                    .top-line {
                      border-top: 2px solid rgb(199, 199, 199);
                      width: 50px;
                    }
                    .detail-room {
                      p {
                        @include text(
                          0.875rem,
                          $text-regular,
                          $text-gray-600,
                          10px
                        );
                      }
                    }
                    .bottom-line {
                      border-bottom: 2px solid rgb(199, 199, 199);
                      width: 50px;
                    }
                  }
                  .card-footer {
                    background: $bg-c1-light;
                    .star-review {
                      @include text(
                        0.875rem,
                        $text-bold,
                        $text-c1-dark,
                        10px
                      );
                      i{
                        color: yellow
                      }
                    }
                    .price {
                      @include text(
                        0.875rem,
                        $text-bold,
                        $text-c1-dark,
                        10px
                      );
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right-map{
        margin-top: 20px;
        @include res-lg{
          display: none;
        }
      }
    }
  }
}
